.hero-section {
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.55),
            rgba(0, 0, 0, 0.55)
        ),
        url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?auto=format&fit=crop&w=1600&q=80");

    background-size: cover;
    background-position: center;
    color: white;
}

.hero-subtitle {
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 15px;
}

.hero-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-description {
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}